<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edwin's Blog</title>
		<link
			rel="stylesheet"
			href="/css/open-color.css"
			media="all"
		/>
		<!-- TODO -->
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<a href="/">
				<img
					src="/images/logo.png"
					height="50px"
					width="50px"
					alt="Logo"
				/>
			</a>
			<nav>
				<a href="/">Home</a>
				<a href="/categories">Categories</a>
				<a href="/tags">Tags</a>
				<a href="/about">About</a>
			</nav>
		</header>
		<hr />
		<main class="article-content">
